# Configuration for Add-Member-To-Team

# Turn on Monitor Mode. In this mode the repo visibility is not modified and only an Issue is created
orgName: ORG_NAME

# Enables detection of repos that change visibility from private to public (not just newly created ones)
defaultTeam: DEFAULT_TEAM